@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: rgb(71, 105, 160);
}

.centered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

h3 {
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
  }